*
	border 0
	padding 0
	margin 0
html
	height 100%
	width 100%
body
	box-sizing border-box
	font-family 'Open Sans', sans-serif
	font-size 16px
	height 100%
footer
	background-color #1c1252
	position fixed
	bottom 0
	padding 1em 0 .5em 1em
	text-align center
	width 100%
	a
		color #DDD
		text-decoration none
	a:hover
		text-decoration underline
	.Redes 
		ul li
			color #FFF
			display inline-block
			font-size .8em
			font-weight 100
			padding 0 .3em 0 .3em
			vertical-align top
header
	background-color #000
	height auto
	font-size .9em
	font-weight 100
	padding .5em 0 .5em 0
	text-align center
	width auto
	a
		color #FFF
		-webkit-transition all 0.5s ease
		-moz-transition all 0.5s ease
		-o-transition all 0.5s ease
		transition all 0.5s ease
		text-decoration none
	a:hover
		color orange
		-webkit-transition all 0.5s ease
		-moz-transition all 0.5s ease
		-o-transition all 0.5s ease
		transition all 0.5s ease
.Logo
	padding 2em 0 0 1em
nav
	background-color rgba(0,0,0,.7)
	height 65%
	margin 0 0 0 2em
	position relative
	width 17%
	ul li
		font-weight 100
		list-style none
		padding .7em 1em .2em 1.5em
		a
			color #FFF
			font-size .8em
			text-decoration none
.Columnas
	box-sizing border-box
	height auto
	margin 0 0 5em 0
	width 100%
	&-titulo
		font-size .9em
		margin .4em 0 .4em 0
	&-precio
		color grey
		font-size .8em	
	&-1
		height auto
		display inline-block
		padding 1.5em 0 0 0
		vertical-align top
		width 25%
		ul li
			padding .5em 0 .2em 1.5em
		a
			color #333
			font-size .8em
			text-decoration none
	&-2
		height auto
		display inline-block
		margin 0 1.3em 0 1.3em
		padding 1.5em 0 0 0
		text-align center
		vertical-align top
		width 20%
		a
			color #FFF
			background-color #e67e22
			border-radius .3px .3px .3px .3px
			padding 0 .5em 0 .5em
			text-decoration none
		a:hover
			opacity .8
		h2
			font-size .9em
		h3
			font-size .8em
			margin 0 0 3.5em 0
		img
			border solid 1px #DDD
			border-radius 3px 3px 3px 3px
			height auto
			width 80%
	&-3
		height auto
		display inline-block
		margin 0 1.3em 0 1.3em
		padding 1.5em 0 0 0
		text-align center
		vertical-align top
		width 20%
		a
			color #FFF
			background-color #e67e22
			border-radius .3px .3px .3px .3px
			padding 0 .5em 0 .5em
			text-decoration none
		a:hover
			opacity .8
		h2
			font-size .9em
		h3
			font-size .8em
			margin 0 0 3.5em 0
		img
			border solid 1px #DDD
			border-radius 3px 3px 3px 3px
			height auto
			width 80%
	&-4
		height auto
		display inline-block
		margin 0 1.3em 0 1.3em
		padding 1.5em 0 0 0
		text-align center
		vertical-align top
		width 20%
		a
			color #FFF
			background-color #e67e22
			border-radius .3px .3px .3px .3px
			padding 0 .5em 0 .5em
			text-decoration none
		a:hover
			opacity .8
		h2
			font-size .9em
		h3
			font-size .8em
			margin 0 0 3.5em 0
		img
			border solid 1px #DDD
			border-radius 3px 3px 3px 3px
			height auto
			width 80%
.Contenedor
	background url('../../public/images/cover.jpg')
	-webkit-background-size cover
	-moz-background-size cover
	-o-background-size cover
	background-size cover
	height 100%
	a
		-webkit-transition all 0.5s ease
		-moz-transition all 0.5s ease
		-o-transition all 0.5s ease
		transition all 0.5s ease
		padding 0 .5em 0 .5em
	a:hover
		color orange
		-webkit-transition all 0.5s ease
		-moz-transition all 0.5s ease
		-o-transition all 0.5s ease
		transition all 0.5s ease
		padding 0 .5em 0 .5em
.Menu
	background-color #FFF
	font-family 'Open Sans', sans-serif
	font-size .8em
	font-weight 100
	height auto
	padding .5em 0 .5em 2.6em
	width auto
	ul li
		display inline-block
		vertical-align middle
		a
			color #333
			text-decoration none
		a:hover
			color orange
	



