*
	border 0
	padding 0
	margin 0
html
	height 100%
	width 100%
body
	font-family 'Open Sans', sans-serif
	font-size 16px
	height 100%
footer
	background-color #1c1252
	position fixed
	bottom 0
	padding 1em 0 .5em 1em
	text-align center
	width 100%
	a
		color #DDD
		text-decoration none
	a:hover
		text-decoration underline
	.Redes 
		ul li
			color #FFF
			display inline-block
			font-size .8em
			font-weight 100
			padding 0 .3em 0 .3em
			vertical-align top
header
	background-color #ffa500
	height auto
	font-size .9em
	font-weight 100
	padding .3em 0 .3em 0
	text-align center
	width auto
	a
		color #FFF
		-webkit-transition all 0.5s ease
		-moz-transition all 0.5s ease
		-o-transition all 0.5s ease
		transition all 0.5s ease
		text-decoration none
	a:hover
		color #1c1252
		-webkit-transition all 0.5s ease
		-moz-transition all 0.5s ease
		-o-transition all 0.5s ease
		transition all 0.5s ease
.Logo
	padding 2em 0 0 1em
nav
	background-color rgba(0,0,0,.7)
	height 65%
	margin 0 0 0 2em
	position relative
	width 17%
	ul li
		font-weight 100
		list-style none
		padding .9em 1em .2em 1em
		a
			color #FFF
			text-decoration none
.Columnas
	height auto
	width 100%
	&-1
		height auto
		display inline-block
		vertical-align top
		width 20%
		ul li
			padding 1.5em 0 .2em 1.5em
		a
			color #333
			font-size .9em
			text-decoration none
	&-2
		background-color orange
		height auto
		display inline-block
		margin 0 1.3em 0 1.3em
		vertical-align top
		width 35%
	&-3
		background-color green
		height auto
		display inline-block
		margin 0 1.3em 0 1.3em
		vertical-align top
		width 35%
.Contenedor
	background url('../../public/images/cover.jpg')
	-webkit-background-size cover
	-moz-background-size cover
	-o-background-size cover
	background-size cover
	height 100%
.Menu
	background-color #FFF
	font-family 'Open Sans', sans-serif
	font-size .8em
	font-weight 100
	height auto
	padding .5em 0 .5em 2.6em
	width auto
	ul li
		display inline-block
		vertical-align middle
		a
			color #333
			text-decoration none
		a:hover
			color orange
	



